.login-container {
  width: 100%;
  min-width: 380px;
  margin: 10px auto;
  /* padding: 30px; */
  padding: 8px;
  border-radius: 16px;

  > h1 {
    text-align: center;
    color: tomato;
  }
  > h3 {
    text-align: center;
    margin-top: 10px;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    width: 20%;
    min-width: 370px;
    border: 1px solid black;
    padding: 8px;
    border-radius: 16px;
    > input {
      width: 300px;
      margin: 10px auto;
      padding: 12px 14px;
      border: none;
      border-radius: 8px;
      background-color: rgb(225, 225, 222);
      color: #363434;
      letter-spacing: 0.01em;
      &::placeholder {
        color: #363434;
      }
    }
    > .login-btn {
      width: 300px;
      margin: 10px auto;
      padding: 12px 0px;
      border-radius: 8px;
      background-color: rgb(93, 181, 117);
      border: none;
      color: #fff;
      cursor: pointer;
      &::-moz-focus-inner {
        color: #000;
      }
    }
  }
}
form {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  > input {
    width: 300px;
    margin: 10px auto;
    padding: 12px 14px;
    border: none;
    border-radius: 8px;
    background-color: rgb(201, 201, 198);
  }

  .prev-btn {
    background-color: rgb(46, 100, 76);
  }
}
